---
---

@import "{{ site.theme }}";

body {
    padding: 25px;
}

div.wrapper {
    width: 900px;
}

header {
    width: 260px;
}

section {
    width: 600px;
}

footer {
    width: 260px;
}

/* Usually for function signatures. */
blockquote code {
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.05);
    padding: .75em;
    border-radius: .75em;
}